<div class="flex sm:flex-row sm:justify-between flex-col sm:gap-[40px] gap-2 mx-[5%] sm:my-16">
    <div class="flex flex-col gap-1">
        <div class="font-bold [font-size:var(--h3)]">
            Extract structured data from <strong>every</strong> website
        </div>

        <div class="[font-size:var(--h5)] sm:[font-size:var(--h4)]">• Automate web research quickly</div>
        <div class="[font-size:var(--h5)] sm:[font-size:var(--h4)]">• Automatic aggregation</div>
        <div class="[font-size:var(--h5)] sm:[font-size:var(--h4)]">• Cool third thing</div>
    </div>

    <div class="">{% include waitlist.html %}</div><!--  -->
</div>