<div class="flex sm:flex-row sm:justify-between flex-col gap-[40px] gap-2 mx-[5%] mt-16">
  <div class="flex flex-col gap-1">
    <div class="font-bold [font-size:var(--h3)]">
      Extract structured data from <strong>every</strong> website
    </div>

    <ul class="text-2xl list-disc">
      <li>Perform large-scale web research quickly</li>
      <li>Automatic aggregation</li>
      <li>Works with your favourite spreadsheet tool</li>
    </ul>
  </div>

  <div class="card bg-primary-content">
    <div class="card-body">
      {% include waitlist.html %}
    </div>
  </div>
</div>