<div id="waitlist" class="flex max-w-64 sm:w-max mx-auto shrink-0 flex-col gap-1">
  <p class="font-bold text-xl">Stay Updated</p>
  <p class="mb-3">ApeScrape is still in development, but we'd love to let you know when it's ready for you to try.</p>
  <input class="mx-auto input " type="email" id="email" placeholder="Email">
  <button id="btn" class="w-full btn mt-1 btn-primary btn-outline">Keep Me Posted</button>
  <div id="message" class="w-full"></div>
</div>

<script>
  const btn = document.getElementById('btn');
  const msg = document.getElementById('message');

  btn.onclick = async () => {
    btn.disabled = true;
    btn.textContent = 'Submitting...';

    try {
      const res = await fetch('https://dashboard.apescrape.com/auth/waitlist/', {
        /* Replace with actual server URL */
        /* https://apescrape.com/auth/waitlist/ */
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          name: "get a load of this guy",
          email: document.getElementById('email').value
        })
      });

      const data = await res.json();
      msg.textContent = data.success ? 'Success' : data.error;

      if (data.success) {
        document.getElementById('name').value = '';
        document.getElementById('email').value = '';
      }
    } catch {
      msg.textContent = 'Connection error';
      msg.className = 'error';
    }

    btn.disabled = false;
    btn.textContent = 'Submit';
  };
</script>