---
layout: default
show_menu_button: true
---

<!-- <div class="drawer drawer-open">
  <div class="drawer-content flex flex-col items-center justify-center">

  </div>
  <div class="drawer-side">
    <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">

    </ul>
  </div>
</div> -->

<div class="drawer lg:drawer-open">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <div class="prose p-16 min-w-full">
      {{ content }}
    </div>
  </div>
  <div class="drawer-side z-9 pt-16 bg-base-100">
    <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu border-r border-r-base-300 text-base-content min-h-full w-80 p-4">
      {% for help_article in site.help %}
        <li><a href=" {{ help_article.url }}">{{help_article.title}}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
